@page
@model Beercyclopedia.Pages.Brands.CreateModel

<form method="post">
    <div class="row">
        <div class="border pt-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary pl-3">Add a New Brand</h2>
            <hr/>
            </div>
            <div class="mb-3">
                Brewery Name:
                <input asp-for="Brand.Name" class="form-control"/>
            </div>
            <a asp-page="Index" class="btn btn-primary m-2">Return</a>
            <button type="submit" class="btn btn-danger" style="width:150px;">Add Brand</button>
        </div>
    </div>
</form>