@page
@using Beercyclopedia.Model
@model Beercyclopedia.Pages.Styles.DeleteModel

<form method="post">
    <input hidden asp-for="Style.Id"/>
    <div class="border pt-3 mt-4">
        <h2 class="text-primary pl-3">Delete Style</h2>
        <hr/>
        <div class="row pb-2">
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                @{
                    if (Model.IsInUse)
                    {
                        <p>The Style is in use you can not delete this. </p>
                    }
                    else  
                    {
                        <p>The style is not used it's safe to delete.</p>
                        <p>The Style to delete is @Model.Style.Name</p>
                    }
                }
            </div>
        </div>
        <div class="mb-3">
            <a asp-page="Index" class="btn btn-primary m-2">Return</a>
            @{
                if (!Model.IsInUse)
                {
                    <button type="submit" class="btn btn-danger m-2" style="width:150px;">Delete</button>
                }
            }
        </div>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="Shared/_ValidationScriptsPartial"/>
    }
}