@page
@using Beercyclopedia.Model
@model Beercyclopedia.Pages.Beers.DeleteModel

<form method="post" xmlns="http://www.w3.org/1999/html">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h1 class="text-primary">Delete Beer</h1>
            <hr/>
        </div>
        <div class="mb3">
            <h3>Please confirm delete of @Model.Beer.Name?</h3>
        </div>
        <a asp-page="Index" class="btn btn-secondary m-2">Return</a>
        <button type="submit" class="btn btn-primary" style="width:150px;">Delete</button>
    </div>
</form>