@page
@model Beercyclopedia.Pages.Beers.EditModel

<form method="post">
    <input hidden asp-for="Beer.Id"/>
    <div class="border pt-3 mt-4">
        <h2 class="text-primary pl-3">Edit Beer</h2>
        <hr/>
        <div class="row pb-2">
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                Beer Name:
                <input asp-for="Beer.Name" class="form-control"/>
                <span asp-validation-for="Beer.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                Select Brand:
                <select asp-for="Beer.BrandId" asp-items="Model.Brands" class="form-select">
                    <option>Pick the brand...</option>
                </select>
                <span asp-validation-for="Beer.BrandId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                Select Style:
                <select asp-for="Beer.StyleId" asp-items="Model.Styles" class="form-select">
                    <option>Pick the style...</option>
                </select>
                <span asp-validation-for="Beer.StyleId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                Rating:
                <input type="number" asp-for="Beer.Rating" class="form-control"/>
                <span asp-validation-for="Beer.Rating" class="text-danger"></span>
            </div>
        </div>
        <a asp-page="Index" class="btn btn-primary m-2">Return</a>
        <button type="submit" class="btn btn-danger" style="width:150px;">Update</button>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="Shared/_ValidationScriptsPartial"/>
    }
}